<header>
  <nav>
    <ul>
      <li class="nav-links"><a href="/">Home</a></li>
      <li class="nav-links"><a href="/about">About</a></li>
      <li class="nav-links"><a href="/blog">Blog</a></li>
      <li class="nav-links"><a href="/tags">Tags</a></li>
    </ul>
  </nav>
</header>

<style>
  nav ul {
    display: flex;
    gap: 3rem;
  }

  nav ul li {
    list-style: none;
  }
  nav ul li a {
    color: white;
    text-decoration: none;
  }
</style>
